body {
	font-family: 'Poppins', sans-serif;
}

html,
body {
	overflow-x: hidden;
}

a.navbar-brand img {
	width: 180px;
}

a {
	color: #444;
	text-decoration: none;
}

a:hover {
	color: #222;
}

a.fale-conosco {
	background: #818EFF;
	border-radius: 24px;
	padding: 8px 16px!important;
}

a.active {
	font-weight: bold;
}

p {
	font-size: 18px;
	text-align: justify;
}

button {
	border-radius: 40px!important;
}

span.subtitle {
	color: #888;
	font-size: 12px;
	text-transform: uppercase;
}

span.subtitle:before {
	content: "|";
	margin-right: 4px;
	font-weight: bold;
	color: #B882FE;
}

.purple {
	color: #B882FE;
}

h3.purple {
	padding-left: 8px;
}
nav#mainNav {
	background: transparent;
	position: absolute;
	width: 100%;
}
header.home {
	background: url(./img/home.jpg);
	background-size: cover;
	background-position: center;
}
header.clinicas {
    background: url(./img/clinicas.jpg);
    background-size: 120%;
    background-position-y: -70px;
}
header.hospitais {
    background: url(./img/hospitais.jpg);
    background-size: 116%;
}
header.operadoras {
    background: url(./img/operadoras.jpg);
    background-size: 120%;
}
header.masthead {
	padding: 15rem 0;
}
.bg-honco-software {
	background: url(./img/honco-software.jpg);
	background-size: cover;
	border-radius: 16px;
}

.bg-honco-consulting {
	background: url(./img/honco-consulting.jpg);
	background-size: cover;
	border-radius: 16px;
}

.sobre-nos img {
	background: #fff;
	display: block;
	border-radius: 8px;
}

.text-gray {
	color: #555;
}

.imprensa .col-lg-2 img:hover {
	box-shadow: 4px 4px 8px -4px #444;
}

section.missao {
	width: 93%;
	margin: 0 auto;
	border-radius: 16px;
	padding: 0 32px;
	box-shadow: 4px 4px 8px -4px #ccc;
}

.missao,
.content,
.bg-blue {
	background-color: #CEEEFF;
}

.para-quem h5:after {
	content: "\f178";
	font: var(--fa-font-solid);
	float: right;
	display: flex;
	flex-direction: row;
	padding: 8px;
	background: #818EFF;
	border-radius: 8px;
	color: #fefefe;
}

.para-quem i:hover {
	color: #818EFF!important;
}

.btn-honco {
	color: #fff;
	background-color: #B882FE;
	border-color: #B882FE;
}

footer {
	background: #000;
}

footer ul.links li a {
	color: #fff;
}

footer p {
	font-size: 12px;
}

footer ul li {
	font-size: 14px;
	padding-right: 24px;
	text-decoration: underline;
}

footer ul.social li {
	padding: 0 96px;
	padding-left: 0;
}

footer .d-flex>h5 {
	width: 65%;
}

footer span.ans {
	width: 24%;
	float: right;
	border: 1px solid white;
	padding: 8px;
	border-radius: 4px;
}

footer button.scnd {
	float: right;
	background: transparent;
}

footer button.scnd:hover {
	background: #B882FE;
}

footer .btn {
	border-radius: 100px;
}

footer span.address {
	font-size: 12px;
	font-weight: 400;
	width: 70%;
	float: left;
	margin-right: 2rem;
}

button.btn.btn-contato {
	background: #85D4FF;
	font-size: 12px;
	font-weight: 600;
}

.footer-link {
	font-size: 14px;
	text-decoration: underline;
	color: #fff;
	float: right;
}

.footer-link:hover {
	color: #eeeeee;
}

footer h6:after {
	content: "";
	display: block;
	width: 50px;
	height: 4px;
	background: #85D4FF;
	margin: 4px 0;
}

footer span {
	font-size: 18px;
	font-weight: 600;
	display: block;
}

footer .col-lg-3 {
	align-items: center;
	display: flex;
}

footer i {
	font-size: 24px!Important;
	border: 1px solid;
	border-radius: 30px;
	padding: 16px;
	border-color: hsla(0, 0%, 40%, 0.5);
}

footer i:hover {
	color: #85D4FF;
}

.sobre-nos .col-lg-6.col-sm-12 img {
	max-width: 100%;
}

input,
textarea#mensagem {
	border-radius: 16px!important;
}

.mobile {
	display: none;
}

.desktop {
	display: block;
}

@media screen and (max-width: 600px) {
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
	ul.navbar-nav.ms-auto.my-2.my-lg-0 {
		background: #eee;
		padding: 16px;
		border-radius: 8px;
	}
	.w-50 {
		width: 80%!important;
	}
	header.masthead {
		background-position: inherit;
		padding: 8rem 0;
	}
	h5.pb-3 {
		font-size: 16px;
	}
	header.masthead {
		background-size: cover;
	}
	.masthead .container {
		padding-top: 3rem;
	}
	section.missao.pt-5.pb-5 {
		padding: 0 8px;
	}
}

.carousel-wrap {
	width: 90%;
	margin: auto;
	position: relative;
}

.owl-carousel .owl-nav {
	overflow: hidden;
	height: 0px;
}

.owl-carousel .item {
	text-align: center;
}

.owl-carousel .nav-btn {
	height: 47px;
	position: absolute;
	width: 26px;
	cursor: pointer;
	top: 100px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
	pointer-events: none;
	opacity: 0.2;
}

.owl-carousel .prev-slide {
	background: url(./img/parceiros/prev.svg) no-repeat scroll 0 0;
	background-size: 50%;
	background-position: center;
	left: -33px;
	top: 33%!important;
}

.owl-carousel .next-slide {
	background: url(./img/parceiros/next.svg) no-repeat scroll -24px 0px;
	background-size: 50%;
	background-position: center;
	right: -33px;
	top: 33%!important;
}

span.img-text {
	text-decoration: none;
	outline: none;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	cursor: pointer;
	width: 100%;
	font-size: 23px;
	display: block;
	text-transform: capitalize;
}


/* quemsomosinfs */

.quem-somos span.name {
	font-weight: bold;
	font-size: 16px;
}

.quem-somos span.position {
	font-size: 14px;
}

.quem-somos .carousel p {
	text-align: left;
	margin-top: 16px;
	font-size: 14px;
}

.quem-somos img {
	width: 100px;
	height: auto;
}


/* quemsomoscarousel */

.carousel {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	font-family: Arial;
}

.carousel__list {
	display: flex;
	list-style: none;
	position: relative;
	width: 100%;
	height: 480px;
	justify-content: center;
	transform-style: preserve-3d;
	perspective: 300px;
}

.carousel__item {
	display: inline;
	padding: 32px;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 48px;
	width: 32%;
	height: 100%;
	border-radius: 16px;
	background: linear-gradient(45deg, #CDA7FE 0%, #A7B0FF 100%);
	position: absolute;
	transition: all 0.3s ease-in;
}

.carousel__item:hover {
	margin-top: -8px;
}

.carousel__item[data-pos="0"] {
	z-index: 5;
	transform: translate3d(0, 0, 10px);
}

.carousel__item[data-pos="-1"],
.carousel__item[data-pos="1"] {
	opacity: 0.6;
	filter: blur(1px);
}

.carousel__item[data-pos="-1"] {
	transform: translateX(-100%) scale(0.9) rotateY(-5deg);
	z-index: 4;
}

.carousel__item[data-pos="1"] {
	transform: translateX(100%) scale(0.9) rotateY(5deg);
	z-index: 4;
}

.carousel__item[data-pos="-2"],
.carousel__item[data-pos="2"] {
	opacity: 0.3;
	filter: blur(5px);
}

.carousel__item[data-pos="-2"] {
	transform: translateX(-180%) scale(0.8) rotateY(-10deg);
	z-index: 3;
}

.carousel__item[data-pos="2"] {
	transform: translateX(180%) scale(0.8) rotateY(10deg);
	z-index: 3;
}
